## Q2 FX rate extract

In [ ]:
import requests
import pandas as pd
import os

In [2]:
os.chdir(rf'C:\Users\User\Desktop\Source\2025\UBER')
os.getcwd()

'C:\\Users\\User\\Desktop\\Source\\2025\\UBER'

Download FX rates for USD, GBP, CZK from Frankfurter API

In [ ]:
# Set the date range and currencies
start_date = "2024-03-01"
end_date = "2024-03-31"
base = "EUR"
symbols = "USD,GBP,CZK"

url = f"https://api.frankfurter.app/{start_date}..{end_date}?from={base}&to={symbols}"

# Get data
response = requests.get(url)
data = response.json()

# Convert to DataFrame
df = pd.DataFrame(data['rates']).T
df.index.name = 'Date'
df = df.reset_index()
df['Date'] = pd.to_datetime(df['Date'])
df

         Date     CZK      GBP     USD
0  2024-03-01  25.333  0.85588  1.0813
1  2024-03-04  25.356  0.85583  1.0846
2  2024-03-05  25.353  0.85543  1.0849
3  2024-03-06  25.359  0.85498  1.0874
4  2024-03-07  25.359  0.85445  1.0895
5  2024-03-08  25.308  0.85168  1.0932
6  2024-03-11  25.322  0.85208  1.0926
7  2024-03-12  25.272  0.85458  1.0916
8  2024-03-13  25.273  0.85451  1.0939
9  2024-03-14  25.198  0.85420  1.0925
10 2024-03-15  25.166  0.85410  1.0892
11 2024-03-18  25.200  0.85525  1.0892
12 2024-03-19  25.268  0.85445  1.0854
13 2024-03-20  25.289  0.85438  1.0844
14 2024-03-21  25.243  0.85678  1.0907
15 2024-03-22  25.371  0.85795  1.0823
16 2024-03-25  25.266  0.85698  1.0835
17 2024-03-26  25.277  0.85846  1.0855
18 2024-03-27  25.319  0.85768  1.0816
19 2024-03-28  25.305  0.85510  1.0811

In [ ]:
# Create date range
date_range = pd.date_range(start="2024-03-01", end="2024-03-31", freq='D')

FX = pd.DataFrame({'Date': date_range})
FX = pd.merge(FX, df, on='Date', how='outer')
FX = FX.ffill()
FX

         Date     CZK      GBP     USD
0  2024-03-01  25.333  0.85588  1.0813
1  2024-03-02  25.333  0.85588  1.0813
2  2024-03-03  25.333  0.85588  1.0813
3  2024-03-04  25.356  0.85583  1.0846
4  2024-03-05  25.353  0.85543  1.0849
5  2024-03-06  25.359  0.85498  1.0874
6  2024-03-07  25.359  0.85445  1.0895
7  2024-03-08  25.308  0.85168  1.0932
8  2024-03-09  25.308  0.85168  1.0932
9  2024-03-10  25.308  0.85168  1.0932
10 2024-03-11  25.322  0.85208  1.0926
11 2024-03-12  25.272  0.85458  1.0916
12 2024-03-13  25.273  0.85451  1.0939
13 2024-03-14  25.198  0.85420  1.0925
14 2024-03-15  25.166  0.85410  1.0892
15 2024-03-16  25.166  0.85410  1.0892
16 2024-03-17  25.166  0.85410  1.0892
17 2024-03-18  25.200  0.85525  1.0892
18 2024-03-19  25.268  0.85445  1.0854
19 2024-03-20  25.289  0.85438  1.0844
20 2024-03-21  25.243  0.85678  1.0907
21 2024-03-22  25.371  0.85795  1.0823
22 2024-03-23  25.371  0.85795  1.0823
23 2024-03-24  25.371  0.85795  1.0823
24 2024-03-25  25.266  0.85698  1.0835
25 2024-03-26  25.277  0.85846  1.0855
26 2024-03-27  25.319  0.85768  1.0816
27 2024-03-28  25.305  0.85510  1.0811
28 2024-03-29  25.305  0.85510  1.0811
29 2024-03-30  25.305  0.85510  1.0811
30 2024-03-31  25.305  0.85510  1.0811

In [6]:
FX['Date'] = FX['Date'].dt.strftime('%Y-%m-%d')
FX.to_csv('FX.csv')